<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key = "connectionString" value = "Data Source = DESKTOP-K8IBBN0;Initial Catalog=FlashCards;Integrated Security=true;TrustServerCertificate=true;" />
    <add key = "key1" value = "Server = DESKTOP-UH1K1R2; Initial Catalog=TutorialDB;Integrated Security=SSPI;Trusted_Connection=yes" />
    <add key = "key2" value = "2" />
  </appSettings>
</configuration>
