<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value=""/>
		<add key="dbPath" value=""/>
		<add key="newCodingSession" value="false" />
		<add key="currentCodingSession" value="" />
		<add key="currentStartTime" value=""/>
		<add key="currentStartDate" value=""/>
		<add key="Key2" value="2" />
		<add key="StudyTimer" value="On"/>
		<add key="QuestionCount" value="null"/>
		<add key="QuestionMode" value="MaximumCards"/>
		<add key="TimerOnOff" value="On"/>
	</appSettings>
</configuration>