<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
    </appSettings>
    <configProtectedData defaultProvider="RsaProtectedConfigurationProvider">
        <providers>
            <clear />
            <add description="Uses RsaCryptoServiceProvider to encrypt and decrypt"
                keyContainerName="NetFrameworkConfigurationKey" cspProviderName=""
                useMachineContainer="true" useOAEP="false" name="RsaProtectedConfigurationProvider"
                type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration.ConfigurationManager" />
            <add description="Uses CryptProtectData and CryptUnProtectData Windows APIs to encrypt and decrypt"
                useMachineProtection="true" keyEntropy="" name="DataProtectionConfigurationProvider"
                type="System.Configuration.DpapiProtectedConfigurationProvider, System.Configuration.ConfigurationManager" />
        </providers>
    </configProtectedData>
    <connectionStrings>
        <clear />
        <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <switches>
            <clear />
        </switches>
        <trace autoflush="false" indentsize="4" useGlobalLock="true">
            <listeners>
                <clear />
                <add initializeData="" type="System.Diagnostics.DefaultTraceListener"
                    name="Default" traceOutputOptions="None">
                    <filter type="" initializeData="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>