<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
	<add name="DefaultConnection"
         connectionString="Data Source=(localdb)\LocalDBDemo;Initial Catalog=DB;Integrated Security=True;
"
         providerName="System.Data.SqlClient" />
</connectionStrings>
	</configuration>