<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="connectionString" value="Data Source = (LocalDb)\LocalDBDemo; initial catalog = Flashcards; integrated security = true;"/>
    </appSettings>

    <connectionStrings>
        <add name="connString" connectionString="Data Source = (LocalDb)\LocalDBDemo; initial catalog = Flashcards; integrated security = true;"/>
    </connectionStrings>
</configuration>
