<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalDbConnection"
             connectionString="Data Source=(local);Initial Catalog=Test12022024;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>