<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="masterConnectionString" value="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;" />
        <add key="databaseName" value="FlashcardsData" />
        <add key="dbConnectionString" value="Server=(localdb)\MSSQLLocalDB;Integrated Security=True;Database=FlashcardsData;" />
    </appSettings>
</configuration>