<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalDbConnection"
             connectionString="Data Source=(LocalDb)\Flashcards;Initial Catalog=Flashcards;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>