<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MasterConnectionString" value="Data Source=(localdb)\C#AcademyProjects;Integrated Security=SSPI;TrustServerCertificate=True;Encrypt=false" />
		<add key="ConnectionString" value="Data Source=(localdb)\C#AcademyProjects;Initial Catalog=flashcards;Integrated Security=SSPI;TrustServerCertificate=True;Encrypt=false" />
	</appSettings>
</configuration>
