<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
	<add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FlashcardsSQL;Integrated Security=True;Connect Timeout=60;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
	<add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
  </appSettings>
</configuration>
