<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=LUCIANO\SQLExpress;Integrated Security=True;Initial Catalog=flashcardsApp" />
		<add key="DbFilePath" value ="C:\SQLData\" />
		<add key="DbName" value="flashcardsApp" />
	</appSettings>
</configuration>