<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="FlashcardsDb"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=(localdb)\MSSQLLocalDB;Database=FlashcardsDb;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>