<configuration>
	<connectionStrings>
		<add name="ServerConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=master;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
		<add name="ConnectionString"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=Flashcards;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
	<appSettings>
		<add key="createDB" value="IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'Flashcards') BEGIN     CREATE DATABASE Flashcards;END"/>
		<add key="createTables" value=" USE Flashcards;

          IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'stacks')
          BEGIN
              CREATE TABLE stacks (
                  Id INT IDENTITY(1,1) PRIMARY KEY,
                  Name NVARCHAR(255) UNIQUE NOT NULL
              );
          END;
          
          IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'cards')
          BEGIN
              CREATE TABLE cards (
                  Id INT IDENTITY(1,1) PRIMARY KEY,
                  Name1 NVARCHAR(255) NOT NULL,
                  Name2 NVARCHAR(255) NOT NULL,
                  StackId INT NOT NULL,
                  CONSTRAINT FK_cards_stacks FOREIGN KEY (StackId) REFERENCES stacks(Id) ON DELETE CASCADE
              );
          END;
          
          IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'sessions')
          BEGIN
              CREATE TABLE sessions (
                  Id INT IDENTITY(1,1) PRIMARY KEY,
                  Score INT NOT NULL,
                  MaxScore INT NOT NULL,
                  Date SMALLDATETIME NOT NULL,
                  StackId INT NOT NULL,
                  CONSTRAINT FK_sessions_stacks FOREIGN KEY (StackId) REFERENCES stacks(Id) ON DELETE CASCADE
              );
          END;
          " />
	</appSettings>
</configuration>