<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value = "Server=(LocalDB)\Flashcard DB"/>
		<add key="DatabaseName" value="FlashcardDB"/>
		<add key="FlashcardTable" value = "Flashcards"/>
		<add key="StackTable" value = "Stacks"/>
		<add key="StudyTable" value = "StudySessions"/>
	</appSettings>
</configuration>