<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--' Database Constants | Database, Table, and View names '-->
		<add key="DbName" value="FLASHCARDS" />
		<add key="TblStackName" value="tb_Stacks" />
		<add key="TblFlashCardsName" value="tb_FlashCards" />
		<add key="TblStudySessionsName" value="tb_StudySessions" />
		<add key="VwFlashCardsName" value="vw_FlashCardsDisplay" />
		<add key="VwStudySessionsName" value="vw_StudySessionsWithStacks" />
		<add key="VwFlashCardsRenumberedName" value="vw_FlashCardsRenumbered" />

		<!--' Spectre Console Menu Constants '-->
		<add key="MenuTitle" value="Select an option:" />
		<add key="PageSize" value ="10"/>
	</appSettings>
	<connectionStrings>
		<add name="dbMasterConnectionString" connectionString="Server=(local);Database=master;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<add name="dbFlashCardsConnectionString" connectionString="Server=(local);Database=FLASHCARDS;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>