<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

	</appSettings>
	<databaseSettings>
		<add key="DatabaseName" value="FLASHCARDS" />
		<add key="Fpath" value="Database\Scripts\" />
		<add key="FnameCreateDatabase" value="00_CreateDatabase.sql" />
		<add key="FnameCreateTables" value="01_CreateTables.sql" />
		<add key="FnameInsertData" value="02_CreateViews.sql" />
	</databaseSettings>
	<connectionStrings>
		<add name="dbConnectionString" connectionString="Server=(local);Database=FLASHCARDS;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>