<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Data Source = (localdb)\mssqllocaldb; Integrated Security = True"/>
		<add key="connectionStringWithDB" value="Data Source = (localdb)\mssqllocaldb; Initial Catalog = FlashcardsProject; Integrated Security = True"/>
	</appSettings>
</configuration>
