<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add 
            key="connectionString"
            value="Server=localhost;Database=FlashcardsDB;User=sa;Password=PASSWORD;Encrypt=True;TrustServerCertificate=True;"
        />
        <add
            key="masterConnectionString"
            value="Server=localhost;Database=master;User=sa;Password=PASSWORD;Encrypt=True;TrustServerCertificate=True;"
        />
    </appSettings>
</configuration>