<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString"
      value="Server=(localhost,1433)\Flashcards;Database=master;User Id=sa;Password=&lt;YourStrong@Passw0rd&gt;Trusted_Connection=True;TrustServerCertificate=True" />
  </appSettings>
</configuration>