<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DB-Path" value="./" />
    </appSettings>
    <connectionStrings>
        <add name="connectionString" connectionString="Server=localhost,1433;Database=FlashCards;User Id=SA;Password=SuperStrongSexyPassword123;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>