<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="flashcards"
			 connectionString="
			 Data Source=(localdb)\MSSQLLocalDB;
			 Initial Catalog=FlashcardsDb;
			 Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="Sessions" value="Sessions"/>
		<add key="Cards" value="Cards"/>
		<add key="Stacks" value="Stacks"/>
	</appSettings>
</configuration>
