<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="initialConnectionString" value="Server=localhost;Integrated Security=true;Database=master" />
		<add key="connectionString" value="Server=localhost;Integrated Security=true;Database=FlashCards" />
	</appSettings>
</configuration>