<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sqlConnectionString" value="Data Source=(localdb)\LocalDbDemo;Trusted_Connection=True;"/>
		<add key="dbConnectionString" value="Data Source=(localdb)\LocalDbDemo;Trusted_Connection=True;database=Flashcard;"/>
	</appSettings>
</configuration>