<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PopulateDB" value="True"/>
    </appSettings>
    <connectionStrings>
        <add name="FlashCardsConnectionString" 
            providerName="MySql.Data.MySqlClient"
            connectionString="Data Source=localhost;Integrated Security=false;Encrypt=false;MultipleActiveResultSets=true;User ID=sa;Password=Root1234"/>
    </connectionStrings>
</configuration>
