<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbConnection" value="Data Source=(localdb)\flashcards;Integrated Security=SSPI;Database=FlashCardApp"/>
		<add key="DbFilePath" value ="D:\Databases\FlashCardApp\" />
		<add key="DbName" value="FlashCardApp" />
	</appSettings>
</configuration>