<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Please replace the connection string with your own SQL Server instance IP, database name and credentials -->
    <add key="ConnectionString" value="Server=192.168.1.57;Database=FLASHCARD;Trusted_Connection=True;TrustServerCertificate=True;User Id=flashcarduser;Password=!!flashcard36;Integrated Security=False;"/>
  </appSettings>
</configuration>