<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Flashcards" connectionString="Server=(localdb)\MSSQLLocalDB;Database=FlashcardsDB;Trusted_Connection=True;" providerName="Microsoft.Data.SqlClient"/>
    <add name="Sessions" connectionString="Server=(localdb)\MSSQLLocalDB;Database=StudySessionDB;Trusted_Connection=True;" providerName="Microsoft.Data.SqlClient"/>
  </connectionStrings>
</configuration>