<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=(localdb)\MSSQLLocalDB;Integrated security=SSPI;database=FlashCardApp" />
		<add key="DbFilePath" value ="F:\Databases\FlashCardApp\" />
		<add key="DbName" value="FlashCardApp" />
</appSettings>
</configuration>