<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="masterConnectionString" value="Server=(LocalDB)\LocalDBCSharpAcademy;Database=master;Trusted_Connection=True;" />
		<add key="flashcardsConnectionString" value="Server=(LocalDB)\LocalDBCSharpAcademy;Database=Flashcards;Trusted_Connection=True;" />
	</appSettings>
</configuration>