<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="masterServer" value="(LocalDB)\LocalDBCSharpAcademy"/>
    <add key="masterDatabase" value="master"/>
    <add key="masterTrustedConnection" value="True"/>
    <add key="server" value="(LocalDB)\LocalDBCSharpAcademy"/>
    <add key="database" value="FlashcardsTest"/>
    <add key="trustedConnection" value="True"/>
	</appSettings>
</configuration>